.home {
    background-color: #dee2df;
    min-height: 600px;
    padding: 20px;
}

.home h2{
    color: royalblue;
    text-align: center;
}

img{
    width: 1250px;
}

.home .btn i{
    margin-left: 5px;
    margin-right: 5px;
}